---
http_interactions:
- request:
    method: get
    uri: https://api.checkbiz.se/api/v1/packagecalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Middleware-Request-Id:
      - 00000000-0000-0000-0000-000000000000
    body:
      encoding: UTF-8
      string: '{"responseCode":"Ok","responseMessage":null,"products":[]}'
  recorded_at: Thu, 19 Mar 2026 14:12:58 GMT
recorded_with: VCR 6.4.0
