---
http_interactions:
- request:
    method: get
    uri: https://api.checkbiz.se/api/v1/packageinformation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Middleware-Request-Id:
      - 00000000-0000-0000-0000-000000000000
    body:
      encoding: UTF-8
      string: '{"responseCode":"Ok","responseMessage":null,"products":[{"productName":"CompanyInformation","productPath":"/api/v1/companyinformation","packages":[{"packageName":"foretagadress"}]},{"productName":"CompanySearch","productPath":"/api/v1/companysearch","packages":[{"packageName":"sokforetag"}]},{"productName":"PersonInformation","productPath":"/api/v1/personinformation","packages":[{"packageName":"personadress"}]},{"productName":"PersonSearch","productPath":"/api/v1/personsearch","packages":[{"packageName":"sokperson"}]}]}'
  recorded_at: Thu, 19 Mar 2026 14:10:42 GMT
recorded_with: VCR 6.4.0
